<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title>jQuery练习专用</title>
   <script type="text/javascript" src="./jQuery库/jQuery-1.9.0.js"></script>
   <style type="text/css">
   *{
      padding:0;
      margin:0;
      list-style:none;
   }
   div#main{
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      width:70vw;
      height:60vw;
      
   }
   #main>h2{
      height:5vh;
      line-height:5vh;
      text-align:left;
      padding:0 1vh;
      background:linear-gradient(to top,rgba(255,255,255,0.7),rgba(0,0,0,0.5));
      font-size:36px;
      border-bottom:2px solid;
   }
   #main>h2>span{
      width:20%;
      float:right;
      text-align:right;
      color:#a0f;
   }
   #main>ul{
      display:none;
      font-size:24px;
      background:#ccc;
      width:100%;
      box-sizing:border-box;
   }
   #main>ul>li{
      padding:1vh;
      border-bottom:2px solid #fff;
   }
   
   </style>
</head>
<body>
   <div id="main">
      <h2>列表显示与隐藏<span>显示</span></h2>
      <ul>
         <li>元素</li>
         <li>元素</li>
         <li>元素</li>
         <li>元素</li>
         <li>元素</li>
      </ul> 
   </div>
   <input type="hidden" value="0" />
   <input type="button" value="事件流" id="liu"/>
<!--===jQuery(javascript)==-->
<script type="text/javascript">
   var liu=document.getElementById("liu");
   
   liu.addEventListener("click",showB,false);
   //  冒泡   添加事件监听 DOM2
   //liu.removeEventListener("click",showB,false);
   // 移除事件监听    DOM2
   //  (事件，函数，???)  
   function showB() {
      alert("你好，事件流！");
   }

   $(function () {
      $("div#main>h2").bind("click",function () {
         if ($("input").val( )==0) {
            $("ul").slideDown(1000);
            $("input").val(1);
            $("span").html("隐藏");
         }
         else{
            $("ul").slideUp(1000);
            $("input").val(0);
            $("span").html("显示");
         }
         
         
      });
   })
</script>
</body>
</html>
